# Exploratory Data Analysis

FAERS drug and natural products data extracted after standardization processes to find number of mapped and unmapped strings.

In [1]:
import pandas as pd
import numpy as np

In [2]:
##raw files from FAERS and LAERS
#Importing from only one file resulted in corrupted data with missing columns
#primaryid - FAERS reports
#isr - LAERS reports
faers = pd.read_csv('data/standard_combined_drug_mapping_202201311520.csv', low_memory=False)
faers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38618311 entries, 0 to 38618310
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   primaryid            int64
 1   isr                  float64
 2   drug_seq             int64
 3   role_cod             object
 4   drug_name_original   object
 5   lookup_value         object
 6   concept_id           float64
 7   update_method        object
 8   standard_concept_id  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 2.6+ GB

In [3]:
laers = pd.read_csv('data/standard_combined_drug_mapping_202201311525.csv', low_memory=False)
laers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10190238 entries, 0 to 10190237
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   primaryid            float64
 1   isr                  int64
 2   drug_seq             int64
 3   role_cod             object
 4   drug_name_original   object
 5   lookup_value         object
 6   concept_id           float64
 7   update_method        object
 8   standard_concept_id  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 699.7+ MB

In [4]:
#check if rows misplaced
faers.loc[faers['isr'].notna()]

Empty DataFrame
Columns: [primaryid, isr, drug_seq, role_cod, drug_name_original, lookup_value, concept_id, update_method, standard_concept_id]
Index: []

In [5]:
laers.loc[laers['primaryid'].notna()]

Empty DataFrame
Columns: [primaryid, isr, drug_seq, role_cod, drug_name_original, lookup_value, concept_id, update_method, standard_concept_id]
Index: []

In [20]:
faers.loc[faers['drug_name_original'].isna()].shape

(1330, 9)

In [17]:
laers.loc[laers['drug_name_original'].isna()].shape

(28, 9)

In [8]:
##Find coverage of reports and unique drug strings (mapped and unmapped) - FAERS + LAERS
##Combine for analysis

In [6]:
id_faers = faers['primaryid'].unique()
len(id_faers)

10590419

In [7]:
id_laers = laers['isr'].unique()
len(id_laers)

2996985

In [8]:
##count unique drug strings
df = pd.concat([faers, laers], ignore_index=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48808549 entries, 0 to 48808548
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   primaryid            float64
 1   isr                  float64
 2   drug_seq             int64
 3   role_cod             object
 4   drug_name_original   object
 5   lookup_value         object
 6   concept_id           float64
 7   update_method        object
 8   standard_concept_id  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.3+ GB

In [10]:
df.loc[(df['lookup_value'].notna() & df['drug_name_original'].isna())]

,primaryid,isr,drug_seq,role_cod,drug_name_original,lookup_value,concept_id,update_method,standard_concept_id
21212490,100596361.0,NaN,2,SS,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
21371343,104596811.0,NaN,3,C,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
21602582,110517871.0,NaN,7,C,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
21988227,121802156.0,NaN,2,C,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
22021616,122680872.0,NaN,2,C,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
...,...,...,...,...,...,...,...,...,...
44436252,NaN,4388051.0,1004987183,SS,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
44436253,NaN,4388055.0,1004987212,SS,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
44436254,NaN,4388057.0,1004987218,SS,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
44436255,NaN,4388050.0,1004987166,SS,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0
44950914,NaN,6157800.0,1011466635,SS,NaN,SODIUM,19136048.0,drug active ingredients,19136048.0

In [11]:
#fix rows where 'NA' has been interpreted as NULL but is actually mapped to SODIUM
df.loc[(df['lookup_value'].notna() & df['drug_name_original'].isna()), 'drug_name_original'] = 'NA'

In [12]:
df.loc[(df['lookup_value'].notna() & df['drug_name_original'].isna())]

Empty DataFrame
Columns: [primaryid, isr, drug_seq, role_cod, drug_name_original, lookup_value, concept_id, update_method, standard_concept_id]
Index: []

In [13]:
#3+1254 rows in original dataset have NULL or N/A values 
df.loc[df['drug_name_original'].isna()]

,primaryid,isr,drug_seq,role_cod,drug_name_original,lookup_value,concept_id,update_method,standard_concept_id
21489251,107315631.0,NaN,2,SS,NaN,NaN,NaN,NaN,NaN
21489256,107315771.0,NaN,6,SS,NaN,NaN,NaN,NaN,NaN
22107233,124934781.0,NaN,2,C,NaN,NaN,NaN,NaN,NaN
22111064,125030001.0,NaN,2,C,NaN,NaN,NaN,NaN,NaN
22111065,125030021.0,NaN,2,C,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
44543423,NaN,4731022.0,1006324455,SS,NaN,NaN,NaN,NaN,NaN
45118961,NaN,6709400.0,1013654366,C,NaN,NaN,NaN,NaN,NaN
45118972,NaN,6709435.0,1013655987,C,NaN,NaN,NaN,NaN,NaN
45471623,NaN,8162500.0,1018954407,C,NaN,NaN,NaN,NaN,NaN
45471624,NaN,8162504.0,1018954414,C,NaN,NaN,NaN,NaN,NaN

In [21]:
drugs_all = df['drug_name_original'].tolist()
len(drugs_all)

48808549

In [22]:
drugs_all_unique = list(set(drugs_all))
len(drugs_all_unique)

832032

In [19]:
drugs_all_unique[0:50]

[nan,
 'DOBUTAMINE IN 5% DEXTROSE INJ USP (DOBUTAMINE HYDROCHLORIDE)',
 'KLONAZEPAM',
 'DISGREN',
 'BUTALBITAL, ACETAMINOPHEN, AND CAFFEINE CAPSULE S',
 'Dalteparin sodium',
 'EVISATA',
 'DECADRON /CAN/ (DEXAMETHASONE /00016001/)',
 "WOMEN'S WELLNESS PRE-MENSTRUAL",
 'NEOPHAGEN (GLYCYRRHIZINATE POTASSIUM)',
 'Monocedocard ret caps 50mg',
 'LACTOBACILLUS  ACIDOPHILUS',
 'BRONKAID   BAYER HEALTHCARE LLC',
 'RATIO-FLUTICASONE',
 'Thisilyn',
 'Cerefolin NA',
 'FLORA Q [LACTOBACILLUS ACIDOPHILUS]',
 'PENICILLIN VK /00001801/ (PHENOXYMETHYLPENICILLIN)',
 'SPRIOLADACTONE',
 'CETIRIZINE HYDROCHLORIDE-PSEUDOEPHEDRINE HYDROCHLORIDE',
 'ARTHRITIS MEDICAITON',
 'Ibuprofen 200 mg tablets',
 'ESTRADIOL (VAGIFEM)',
 'SULFUR ELEMENTAL SUPPLEMENT',
 'SEPTANEST (ARTICAINE HYDROCHLORIDE 4% WITH EPINEPHRINE 1:100,000)',
 'Omega Oils',
 'FUROSEMIDE MYLAN 40',
 '0.9% NA CL 250ML',
 'Ulcermin',
 'Acid Flux',
 'TUDORZA PRESS AIR',
 'SODA BICARBONATE',
 'TRAMAL OD',
 'AS-LUNEX',
 'NEUDEXTA (OTHER NERVOUS SYSTEM DRUGS)',
 'CLOPIDOGREL TAB',
 'MIMPARA',
 'DRUG, UNSPECIFIED (DRUGS, UNSPECIFIED0',
 'Famotidine Tablet USP (OTC)',
 'TEVA ARMODAFINIL',
 'IXYCODONE HYDROCODONE',
 'IV LIPID',
 'tradonal retard',
 'METHADONE (METHADONE)90 MG',
 'polyethylene glycol 17gm daily',
 'BADGER BABY SUNSCREEN',
 'SUBOXONE/01687501/(BUPRENOPHINE, NALOXONE)',
 'CANNABIS',
 'FLUOXETIN ^SANDOZ^',
 'SEVERAL VITAMINS NOS']

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48808549 entries, 0 to 48808548
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   primaryid            float64
 1   isr                  float64
 2   drug_seq             int64
 3   role_cod             object
 4   drug_name_original   object
 5   lookup_value         object
 6   concept_id           float64
 7   update_method        object
 8   standard_concept_id  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.3+ GB

In [23]:
#divide into mapped and unmapped strings
df_map = df.loc[df['lookup_value'].notna()]
df_unmap = df.loc[df['lookup_value'].isna()]

In [24]:
df_map = df_map.reset_index(drop=True)
df_map.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46183465 entries, 0 to 46183464
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   primaryid            float64
 1   isr                  float64
 2   drug_seq             int64
 3   role_cod             object
 4   drug_name_original   object
 5   lookup_value         object
 6   concept_id           float64
 7   update_method        object
 8   standard_concept_id  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.1+ GB

In [25]:
df_unmap = df_unmap.reset_index(drop=True)
df_unmap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2625084 entries, 0 to 2625083
Data columns (total 9 columns):
 #   Column               Dtype
---  ------               -----
 0   primaryid            float64
 1   isr                  float64
 2   drug_seq             int64
 3   role_cod             object
 4   drug_name_original   object
 5   lookup_value         object
 6   concept_id           float64
 7   update_method        object
 8   standard_concept_id  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 180.3+ MB

In [26]:
df_unmap.head()

,primaryid,isr,drug_seq,role_cod,drug_name_original,lookup_value,concept_id,update_method,standard_concept_id
0,1.000332e+08,NaN,11,C,Baktar,NaN,NaN,NaN,NaN
1,1.000332e+08,NaN,13,C,chinese medicine,NaN,NaN,NaN,NaN
2,1.000333e+09,NaN,10,C,IDROCLOROTIAZ,NaN,NaN,NaN,NaN
3,1.000333e+09,NaN,4,C,INSULINA GLULISINA,NaN,NaN,NaN,NaN
4,1.000333e+09,NaN,9,C,IDROCLOROTIAZ,NaN,NaN,NaN,NaN

In [27]:
df_map.head()

,primaryid,isr,drug_seq,role_cod,drug_name_original,lookup_value,concept_id,update_method,standard_concept_id
0,125075212.0,NaN,6,C,SIVASTIN,SIMVASTATIN,1539403.0,regex upper,1539403.0
1,125702831.0,NaN,5,C,SIVASTIN,SIMVASTATIN,1539403.0,regex upper,1539403.0
2,125632441.0,NaN,5,C,SIVASTIN,SIMVASTATIN,1539403.0,regex upper,1539403.0
3,125671332.0,NaN,5,C,SIVASTIN,SIMVASTATIN,1539403.0,regex upper,1539403.0
4,124821811.0,NaN,3,C,SIVASTIN,SIMVASTATIN,1539403.0,regex upper,1539403.0

In [28]:
##count unique drug strings in both
drug_map = df_map['drug_name_original'].unique()
len(drug_map)

381430

In [29]:
drug_unmap = df_unmap['drug_name_original'].unique()
len(drug_unmap)

450602

In [31]:
df_map.shape

(46183465, 9)

In [32]:
df_unmap.shape

(2625084, 9)

In [33]:
##find coverage of mapped and unmapped reports - or complete vs incomplete where
#complete = all drug strings in report are mapped
#incomplete = one or more drug strings in report are unmapped
pid_map = df_map['primaryid'].unique()
len(pid_map)

10423369

In [34]:
pid_unmap = df_unmap['primaryid'].unique()
len(pid_unmap)

1192094

In [35]:
isr_map = df_map['isr'].unique()
len(isr_map)

2938479

In [36]:
isr_unmap = df_unmap['isr'].unique()
len(isr_unmap)

522607

In [37]:
#find intersection of mapped and unmapped reports
pid_intersect = np.intersect1d(pid_map, pid_unmap)
len(pid_intersect)

1025042

In [38]:
isr_intersect = np.intersect1d(isr_map, isr_unmap)
len(isr_intersect)

464099

In [39]:
df_map.to_csv('data/FAERS_mapped_drugs_20220131.csv', index=False)
df_unmap.to_csv('data/FAERS_unmapped_drugs_20220131.csv', index=False)

In [40]:
df.to_csv('data/FAERS_combined_drugs_20220131.csv', index=False)

In [30]:
#is number of unique drugs same as unique drugs+lookup value combo?
df_test1 = df_map[['drug_name_original', 'lookup_value']]
df_test2 = df_unmap[['drug_name_original', 'lookup_value']]

In [31]:
df_test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46179428 entries, 0 to 46179427
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   drug_name_original  object
 1   lookup_value        object
dtypes: object(2)
memory usage: 704.6+ MB

In [32]:
df_test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2629121 entries, 0 to 2629120
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   drug_name_original  object
 1   lookup_value        object
dtypes: object(2)
memory usage: 40.1+ MB

In [33]:
df_test1 = df_test1.drop_duplicates()
df_test2 = df_test2.drop_duplicates()

In [34]:
df_test1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380774 entries, 0 to 46178198
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   drug_name_original  380773 non-null  object
 1   lookup_value        380774 non-null  object
dtypes: object(2)
memory usage: 8.7+ MB

In [35]:
df_test2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 451258 entries, 0 to 2629120
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   drug_name_original  451257 non-null  object
 1   lookup_value        0 non-null       object
dtypes: object(2)
memory usage: 10.3+ MB

In [4]:
dfup = pd.read_csv('data/upper_unmap_orig_drug_names_202201201812.csv')
dfup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569525 entries, 0 to 569524
Data columns (total 1 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   drug_name_original  412264 non-null  object
dtypes: object(1)
memory usage: 4.3+ MB

In [5]:
dfnp = pd.read_csv('data/np_names_clean_202201201810.csv')
dfnp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6195 entries, 0 to 6194
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   concept_id  6195 non-null   int64
 1   np_name     6195 non-null   object
dtypes: int64(1), object(1)
memory usage: 96.9+ KB